ERP/ERP-war/src/conf/xml-resources/web-service-references/AAA/wsdl/172.20.0.249/INSA.Web.Security_ERP_3.4/AAA.svc.xsd_xsd5.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/INSA.Web.Administration" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/INSA.Web.Administration"><xs:complexType name="ArrayOfINSAGetGroupRights"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="INSAGetGroupRights" nillable="true" type="tns:INSAGetGroupRights"/></xs:sequence></xs:complexType><xs:element name="ArrayOfINSAGetGroupRights" nillable="true" type="tns:ArrayOfINSAGetGroupRights"/><xs:complexType name="INSAGetGroupRights"><xs:sequence><xs:element minOccurs="0" name="right" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="INSAGetGroupRights" nillable="true" type="tns:INSAGetGroupRights"/></xs:schema>